body {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 20px;
  background-color: rgb(90, 86, 86);
  margin: 0;
}

h1, #message {
  text-align: center;
  font-family: 'Play', sans-serif;
}

h1 {
  font-size: 60px;
  color: rgb(82, 195, 172);
  animation: textGlow 5s infinite;
}

.actions, .tictacboard {
  display: grid;
  gap: 20px;
  text-align: center;
}

#board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 350px;
  height: 350px;
  margin-top: 10px;
}

.tictacboard {
  width: 75%;
  border: 20px ridge rgb(82, 195, 172);
  /* border-style: ridge; */
  border-radius: 5px;
  padding: 20px;
}

.tictac {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Play', sans-serif;
  font-weight: bold;
  border: 3px ridge rgb(124, 207, 189);
  font-size: 3em;
  height: 90px; 
  cursor: pointer;
  transition: font-size 0.3s, opacity 0.3s, color 0.3s;
}

.tictac:hover {
  font-size: 2.5em;
  opacity: 0.9;
  color: rgb(124, 207, 189);
  animation: textGlow 1.5s infinite;
}

#play-again-btn {
  font-family: 'Play', sans-serif;
  font-weight: bold;
  cursor: pointer;
  color: rgb(82, 195, 172);
  font-size: 20px;
  padding: 10px 20px;
  background-color: rgb(90, 86, 86);
  border: 5px solid rgb(82, 195, 172);
  border-radius: 5px;
  animation: textGlow 2s infinite;
}

#play-again-btn:hover {
  background-color: rgb(120, 120, 120);
  border-color: rgb(120, 120, 120);
}

#play-again-btn:active {
  transform: translateY(1.5px);
}

@keyframes textGlow {
  0%, 100% {
    text-shadow: none;
  }
  50% {
    text-shadow: 0 0 15px rgb(124, 207, 189);
  }
}